.blk-button, .ylw-button {
    font-size: 28px;
    font: "Helvetica", "Times New Roman", sans-serif;
}

.blk-button {
    background-color: black;
    color: white;
}

.ylw-button {
    background-color: yellow;
}